<section class="menuItems">


  <ul class="itemList">
      <li class="item">
      <h3>Menu Item</h3>
      <p> i don't know what you want, but i know i can get it for you, with a minimum of fuss! money, jewels, a *very* big ball of string. selina! selina kyle, you're fired! and bruce wayne, why are you dressed up like batman? you got the wrong guy, ace! what do you want me to say, that i'm sorry? that i apologize? well, people in hell want ice water, pal.</p>
      <button name="button">Price</button>
      </li>


      <li class="item">
      <h3>Menu Item</h3>
      <p> two little mice fell in a bucket of cream. the first mouse quickly gave up and drowned. the second mouse, wouldn't quit. he struggled so hard that eventually he churned that cream into butter and crawled out. gentlemen, as of this moment, i am that second mouse. you're talking to me all wrong... it's the wrong tone. you do it again and i'll stab you in the face with a soldering iron. hey, tell me, does your mother sew? boom. get her to sew that! i got a fever, and the only prescription is more cowbell.</p>
      <button name="button">Price</button>
      </li>


      <li class="item">
      <h3>Menu Item</h3>
      <p> you know why the yankees always win, frank? it's 'cause the other teams can't stop staring at those damn pinstripes. i got a fever, and the only prescription is more cowbell. did you hear about the happy roman? he was "glad he ate her." i thought about you every time i jerked off, dickhead. two little mice fell in a bucket of cream. the first mouse quickly gave up and drowned. the second mouse, wouldn't quit. he struggled so hard that eventually he churned that cream into butter and crawled out. gentlemen, as of this moment, i am that second mouse.</p>
      <button name="button">Price</button>
      </li>


      <li class="item">
      <h3>Menu Item</h3>
      <p> two little mice fell in a bucket of cream. the first mouse quickly gave up and drowned. the second mouse, wouldn't quit. he struggled so hard that eventually he churned that cream into butter and crawled out. gentlemen, as of this moment, i am that second mouse. selina! selina kyle, you're fired! and bruce wayne, why are you dressed up like batman? he hid it in the one place he knew he could hide something: his ass.</p>
      <button name="button">Price</button>
      </li>
  </ul>
</section>
