<section class="orders">
  <div class= "yourOrder">
    <h5>Your Order</h5>
    <span>Angel Thai Cuisine</span>
  </div>
  <div class= "groupOrderButton">
    <span>logo</span>
    <button name="groupOrder">Start Group Order</button>
  </div>
  <div class= "itemPrice">
    <span>Item</span>
    <span>subtotal</span>
    <span>Total</span>
    <span>$0.00</span>
  </div>
  <div class= "deliverPickup">
    <img src="images/car2.png" alt="" />
    <span>Delivery</span>
    <input type="radio" name="imgsel"  value=""  />

    <img src="images/shop.png" alt="" />
    <span>Pickup</span>
    <input type="radio" name="imgsel"  value=""  />
  </div>
</section>
