<div class="orders">
  <div class= "yourOrder">
    <h2>Ta Krai</h2>
    <span>Order</span>
    <hr>
    {{log this}}

    {{#each this}}
      <h4>{{item}}  -  $ {{price}}</h4>
    {{/each}}

      <h3>{{subtotal}}</h3>
      <h3>Total</h3>
      <hr>
      <h2>Place Order</h2>
      <button class="submitOrder" type="submit" value=""><i class="fa fa-money fa-3x"></i><i class="fa fa-credit-card fa-3x"></i></button>
  </div>
</div>
