@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
}

/* body{
  background-color: RGBA(198, 227, 205, 1);
} */


.centeredContainer{
  @include outer-container(1050px);
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid RGBA(232, 232, 232, 1);
}
 ul{
  list-style-type: none;
  padding: 0;
}

////////Header Styling//////////
.nav{
  height: 65px;
}

.nav img{
  height: 30px;
  width: 20px;
}

.headerImage{
  height: 250px;
  width: 100%;
  background-color: RGBA(198, 227, 205, 1);
/*   background-image: url('images/headerBackground.jpg'); */
}

.searchBar{
  height: 65px;
}

.searchBar input{
  width: 335px;
  height:50px;
  border-bottom: 2px solid RGBA(107, 173, 66, 1);
  border-top: none;
  border-left: none;
  border-right: none;
}

///Category Styling///

.foodCategory{
  border: 1px solid red;
}
///////Menu Items Styling///////
.menuItems{
@include span-columns (7);
}


.item{
  border: 1px solid gray;
  color:RGBA(144, 152, 153, 1);
}

.itemList :hover{
  background-color: RGBA(232, 232, 232, 1);
}

.item{
  padding: 24px;
}

.item button{
  border: 1px solid gray;
  color: RGBA(52, 152, 219, 1);

}

//////ORDERS STYLING/////////
.orders{
@include span-columns (4 of 12);
@include omega();
}

.orders{
  border: 1px solid gray;
  margin-top: 15px;
}

.yourOrder{
  height: 70px;
  text-align: center;
}

.groupOrderButton{
  height: 105px;
  text-align: center;
}

.itemPrice{
  height: 100px;
  text-align: center;
}

.deliverPickup{
  height: 110px;
  text-align: center;
}
//////FOOTER STYLING////////

footer{
  height: 130px;
  color:RGBA(127, 131, 134, 1);
}
